:root {
  --site-color-01: #F5F5F5;
  --site-color-02: #F2EAD3;
  --site-color-03: #DFD7BF;
  --site-color-04: #3F2305;
  font-size: 62.5%;
}


body {
  background-color: var(--site-color-03);
}


p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--site-color-01);
  font-size: 1.7rem;
}

.hero-section {
  height: 100vh;
  background-image: url("img/old-shop.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.hero-logo svg {
  color: var(--site-color-03);
  width: 80%;
}

.hero-text {
  margin-top: 30px;
  padding: 20px;
}