:root {
  --site-color-01: #F5F5F5;
  --site-color-02: #F2EAD3;
  --site-color-03: #DFD7BF;
  --site-color-04: #3F2305;
  font-size: 62.5%;
}


body {
  background-color: var(--site-color-03);
}


p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--site-color-01);
  font-size: 1.7rem;
}

.full-size-div {
  height: 100vh;
  height: 100svh;
}

.hero-section {
  background-image: url("img/old-shop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px 5px rgba(223, 215, 191, 0.4);
  width: 100%;
  border-radius: 30px;
  padding: 50px 30px 0px 30px;
}

.hero-logo svg {
  color: var(--site-color-03);
}

.hero-text p {
  margin: 50px 0px;
  text-align: center;
}